@import "tailwindcss";

@font-face {
  font-family: "New York";
  font-weight: 400;
  src: url("/fonts/NewYork.otf");
}

@font-face {
  font-family: "Air Strike";
  font-weight: 400;
  src: url("/fonts/airstrikehalf.ttf");
}

@font-face {
  font-family: "Fira Code Bold";
  font-weight: 400;
  src: url("/fonts/FiraCode-Bold.ttf");
}

@font-face {
  font-family: "DIN Condensed";
  font-weight: 400;
  src: url("/fonts/DINCondensedBold.ttf");
}

@theme {
  --font-york: "New York";
  --font-firaB: "Fira Code Bold";
  --font-din: "DIN Condensed";
  --font-air: "Air Strike";

  --color-lightYellow: #fff061;
  --color-offBlue: #4d49f7;

  --breakpoint-app: 900px;

  --cursor-empireA: url("https://thedial.infura-ipfs.io/ipfs/QmY5HoV5TDahoAjutA18XctiTE79NDtU9BDjGbadvf6Nmt"),
    auto;
  --cursor-empireS: url("https://thedial.infura-ipfs.io/ipfs/Qmchgr77mEfYEKEzHWDRdEjke44JAwDVmUftUwoppECw71"),
    auto;
}

@layer utilities {
  .font-york {
    font-family: var(--font-york);
  }

  .font-air {
    font-family: var(--font-air);
  }

  .font-fira {
    font-family: var(--font-fira);
  }

  .font-din {
    font-family: var(--font-din);
  }

  .cursor-empireA {
    cursor: var(--cursor-empireA);
  }
  .cursor-empireS {
    cursor: var(--cursor-empireS);
  }
}

html {
  background-color: var(--color-lightYellow);
  background: linear-gradient(
    to right,
    var(--color-lightYellow) 0%,
    white 50%,
    var(--color-lightYellow) 100%
  );
  cursor: var(--cursor-empireA);
  color: var(--color-offBlue);
}

#coined {
  color: white;
  -webkit-text-stroke: 0.5px var(--color-offBlue);
}